NationalCriminalsDB/NationalCriminalsDB/Service References/CriminalSearchService/SearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NationalCriminalsDB.Service.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NationalCriminalsDB.Service.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55965/SearchService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NationalCriminalsDB.Service.Models" />
  <xs:complexType name="SearchViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaxResultCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxWeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MinAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinHeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MinWeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequesterEmail" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NationalCriminalsDB.Service.Models" minOccurs="0" name="Sex" nillable="true" type="q1:Sex" />
      <xs:element minOccurs="0" name="ToDateOfBirth" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchViewModel" nillable="true" type="tns:SearchViewModel" />
</xs:schema>